.btn {
    margin: 5px;
    width: 120px;
}

.edit-btn {
    margin: 2px;
    padding: 2px;
}

#post-form {
    padding: 2px;
    margin: 2px;
}

#new-post-view {
    margin: 10px;
}

#all-posts {
    margin: 20px;
}

.posts-row {
    border: 1px solid rgb(175, 170, 170);
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    word-wrap:break-word;
}

.author-username:hover {
    text-decoration:none;
    color:#d1530a;
}
  
.author-username {
    cursor:pointer;
 }

 #profile-name {
    font-size: 30px;
    font-weight: bold;
 }

.like-toggle {
  outline:none;
  box-shadow:none;
  border: none;
  width: 40px;
  font-size: 1.3em;
  border-radius: 100px;
}

.like-active {  
  color: #bb0826;
  outline:none;
  box-shadow:none;
  border: none;
}

.pagination {
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;    
}

.body {
    margin-top: 10px;
}

#user-info {
    margin: 15px;
}

#follow-btn {
    margin: 10px;
}

#profile-link {
    font-weight: bold;
}

.navbar-brand {
    font-size: 2.25rem;
}

.post-date {
    font-style: italic;
    font-size: 14px;
}

.text-post {
    width: 100%;
}


